body
  background-color: #4B7399
  font-family: Arial, Verdana, Helvetica
  font-size: 14px

a
  img
    border: none
  color: #0000FF

h1
  text-shadow: #666 1px 1px 0.2em
  border-bottom: 1px solid gray
  width: 100%
  display: block

.clear
  clear: both
  height: 0
  overflow: hidden

#container
  margin: 0px
  background-color: #FFF
  padding: 20px 40px
  border: solid 1px black
  height: 100%
  min-height: 100%

#flash_notice, #flash_error, #flash_alert
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  background-color: #CFC
  border: solid 1px #6C6

#flash_error, #flash_alert
  background-color: #FCC
  border: solid 1px #C66

#menu

.menu_left
  .button
  ul.menu_list
    width: 200px
    overflow: hidden
    padding: 0px 20px 0px 10px

    ul
      padding: 0px 0px 0px 10px
      font-size: 12px

    li
      list-style: none outside none
      a, span
        display: block
        width: 150px
        margin: 10px
        background: #999
        border: 1px solid #555
        color: #FFFFFF
        font-weight: bold
        padding: 6px 12px
        text-decoration: none
      span
        background: #CCC
        text-decoration: line-through
      a:hover
        background-color: #FF9900


#content
  height: 100%
  min-height: 100%

.left
  float: left

.menu
  padding: 10px
  margin: 10px
  border: 1px dashed gray
  height: 100%
  min-height: 100%

.fieldWithErrors
  display: inline

.error_messages
  width: 400px
  border: 2px solid #CF0000
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font-size: 12px
  h2
    text-align: left
    font-weight: bold
    padding: 5px 10px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff
  p
    margin: 8px 10px
  ul
    margin: 0

table
  td, td
    padding: 2px 5px 2px 5px
    a
      font-size: 12px
  th
    background: #CCC
    padding: 4px 5px 4px 5px
  tr.n
    background: #DDD
  tr.c

.report
  h3
    border-bottom: 1px solid #CCC

  dl
    margin: 2px 2px 2px 2px
    dt
      font-weight: bold
      display: inline
    dd
      display: inline
  table
    th
      background: #CCC
      border: 1px solid black
    th,td
      padding: 2px 8px 2px 8px
      border-bottom: 1px solid black
  hr
    border: 1px dashed #DDD
    height: 1px

  p.small
    font-size: 10px
