body
  background-color: #4B7399
  font-family: Verdana, Helvetica, Arial
  font-size: 14px

a
  img
    border: none
  color: #0000FF

.clear
  clear: both
  height: 0
  overflow: hidden

#container
  width: 75%
  margin: 0 auto
  background-color: #FFF
  padding: 20px 40px
  border: solid 1px black
  margin: 0 auto
  height: 100%
  min-height: 100%

#flash_notice, #flash_error, #flash_alert
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  background-color: #CFC
  border: solid 1px #6C6

#flash_error, #flash_alert
  background-color: #FCC
  border: solid 1px #C66

#menu

.menu_left
  ul.menu_list
    width: 200px
    overflow: hidden

    li
      list-style: none outside none

#content
  height: 100%
  min-height: 100%

.left
  float: left

.menu
  padding: 10px
  margin: 10px
  border: 1px dashed gray
  height: 100%
  min-height: 100%

.fieldWithErrors
  display: inline

.error_messages
  width: 400px
  border: 2px solid #CF0000
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font-size: 12px
  h2
    text-align: left
    font-weight: bold
    padding: 5px 10px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff
  p
    margin: 8px 10px
  ul
    margin: 0

.report
  h3
    border-bottom: 1px solid #CCC

  dl
    margin: 2px 2px 2px 2px
    dt
      font-weight: bold
      display: inline
    dd
      display: inline
  table
    th
      background: #CCC
      border: 1px solid black
    th,td
      padding: 2px 8px 2px 8px
  hr
    border: 1px dashed #DDD
    height: 1px
