body {
  background-color: #4b7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin: 0 auto;
  height: 100%;
  min-height: 100%; }

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error, #flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.menu_left ul.menu_list {
  width: 200px;
  overflow: hidden; }
  .menu_left ul.menu_list li {
    list-style: none outside none; }

#content {
  height: 100%;
  min-height: 100%; }

.left {
  float: left; }

.menu {
  padding: 10px;
  margin: 10px;
  border: 1px dashed gray;
  height: 100%;
  min-height: 100%; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

.report h3 {
  border-bottom: 1px solid #cccccc; }
.report dl {
  margin: 2px 2px 2px 2px; }
  .report dl dt {
    font-weight: bold;
    display: inline; }
  .report dl dd {
    display: inline; }
.report table th {
  background: #cccccc;
  border: 1px solid black; }
.report table th, .report table td {
  padding: 2px 8px 2px 8px; }
.report hr {
  border: 1px dashed #dddddd;
  height: 1px; }
