- title "Loan"
%p
  %strong Lender:
  = link_to @loan.lender.name, person_path(@loan.lender)
%p
  = link_to "Edit", edit_loan_path(@loan)
  |
  = link_to "Destroy", @loan, :confirm => 'Are you sure?', :method => :delete 
  |
  = link_to "View All", loans_path
