<% title "Payment" %>

<p>
  <strong>Name:</strong>
  <%= @payment.name %>
</p>

<p>
  <%= link_to "Edit", edit_payment_path(@payment) %> |
  <%= link_to "Destroy", @payment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", payments_path %>
</p>
